.root {
  padding-right: 16px;
  max-width: 212px;
}

.labeledValue {
  margin-top: 24px;
}

.contact {
  display: flex;
  align-items: center;
  column-gap: 6px;
  color: var(--red);
}

.contansLinkSvg {
  margin-left: 8px;
  width: 12px;
  height: 12px;
}

.contactLink {
  font-size: 0.875rem !important;
  font-family: var(--font-family) !important;
}
