{
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
