.root {
  width: fit-content;
}

.image {
  width: 40px;
  height: 40px;
  display: block;
}

.count {
  margin-top: 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--grey);
  text-align: center;
}
