:root {
  --font-family: "Vivl", sans-serif;
  --second-family: "Big Shoulders", sans-serif;
  --font-3: "JetBrains Mono", sans-serif;
  --font-4: "Chakra Petch", sans-serif;

  --dark: #000003;
  --dark-grey: #242425;
  --acid-green: #7dff68;
  --red: #e84a4a;
  --white: #ffffff;
  --gold: #d4a944;
  --blue: #4aafe8;
  --green: #5de26a;
  --grey: #7a7a7a;
  --text-grey: rgba(255, 255, 255, 0.6);

  --screen-desktop: 1520px;
  --screen-tablet: 1349px;
  --screen-mobile: 1149px;
}

body {
  font-family: var(--font-family);
  background-color: var(--dark);
  color: var(--white);
}

@font-face {
  font-display: swap;
  font-family: "Vivl";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/vivl-rail.otf");
}

@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ChakraPetch-Regular.otf");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/jetbrains-mono-v23-cyrillic_latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/jetbrains-mono-v23-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/big-shoulders-v3-latin-700.woff2") format("woff2");
}

// ------------------------ Reset and base styles  -----------------------------

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  background: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
