.root {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--grey);
}

.uppercase {
  text-transform: uppercase;
}

.strong {
  font-family: var(--font-family);
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #fff;
}
